[class*="col-"], .col{
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 20px 0;
 }

 .container-fluid {
    margin-top: 20px;
 }

 .container-fluid span {
    font-weight: bold;
    font-size: 20px;
 }

 .row{
    background-color: #006cfa;
 }

 .nested {
     padding: 0 10px
 }

 .row .bg-active {
     background-color: #00e165;

 }